<div class="pt-75 general-title bg-color">
    <h2>Tin tức</h2>
    <div class="title-devider"></div>
</div>

<!-- Site Wrapper -->
<div class="site-wrapper">

    <!-- Blog -->
    <div class="container">
        <div class="row wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="200ms">

            <!-- Blog Post (image, title, date and description of post) -->
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail blog-inner">
                    <!-- Image -->
                    <a href="/tin-tuc/diem-lai-5-xu-huong-thiet-ke-noi-that-chu-dao-2020-66">
                        <div class="pic-tintuc"
                            style="width:100%;height: 300px;background: url('/media/article/16046305027655.jpg');background-size: cover;background-position: center center;background-repeat: no-repeat;background-color: #fff;"
                            alt="ĐIỂM LẠI 5 XU HƯỚNG THIẾT KẾ NỘI THẤT CHỦ ĐẠO 2020">
                        </div>
                    </a>
                    <div class="caption">
                        <!-- Title -->
                        <div class="blog-inner-title">
                            <a href="/tin-tuc/diem-lai-5-xu-huong-thiet-ke-noi-that-chu-dao-2020-66">
                                <h3>ĐIỂM LẠI 5 XU HƯỚNG THIẾT KẾ NỘI THẤT CHỦ ĐẠO 2020</h3>
                            </a>
                        </div>
                        <!-- Date -->
                        <div class="blog-meta">
                            <span><i class="fa fa-calendar"></i><a href="#"> 06-11-2020</a></span>
                        </div>
                        <!-- Description -->
                        <p>
                        <p><span style="font-size:16px"><span style="font-family:Arial,Helvetica,sans-serif">Bạn đang
                                    muốn đổi mới ng&ocirc;i nh&agrave; của m&igrave;nh&nbsp; nhưng c&ograve;n đang
                                    ph&acirc;n v&acirc;n chọn lựa c&aacute;c thiết kế để tạo n&ecirc;n sự độc đ&aacute;o
                                    nhưng vẫn mang lại c&aacute; t&iacute;nh ri&ecirc;ng của bản th&acirc;n? Đừng bỏ qua
                                    5 xu hướng thiết kế nội thất hot nhất năm 2020.</span></span></p>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail blog-inner">
                    <!-- Image -->
                    <a href="/tin-tuc/nhung-luu-y-khi-bo-tri-khong-giang-phong-ngu-65">
                        <div class="pic-tintuc"
                            style="width:100%;height: 300px;background: url('/media/article/15889343806929.jpg');background-size: cover;background-position: center center;background-repeat: no-repeat;background-color: #fff;"
                            alt="NHỮNG LƯU Ý KHI BỐ TRÍ KHÔNG GIAN PHÒNG NGỦ">
                        </div>
                    </a>
                    <div class="caption">
                        <!-- Title -->
                        <div class="blog-inner-title">
                            <a href="/tin-tuc/nhung-luu-y-khi-bo-tri-khong-giang-phong-ngu-65">
                                <h3>NHỮNG LƯU Ý KHI BỐ TRÍ KHÔNG GIAN PHÒNG NGỦ</h3>
                            </a>
                        </div>
                        <!-- Date -->
                        <div class="blog-meta">
                            <span><i class="fa fa-calendar"></i><a href="#"> 08-05-2020</a></span>
                        </div>
                        <!-- Description -->
                        <p>
                        <p><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:16px">Kh&aacute;c
                                    với trước đ&acirc;y khi chỉ đơn giản l&agrave; nơi ngả lưng mỗi khi mệt mỏi,
                                    ph&ograve;ng ngủ hiện nay đ&oacute;ng vai tr&ograve; rất lớn t&aacute;c động đến cảm
                                    x&uacute;c, t&acirc;m trạng của người sử dụng.<br />
                                    Để c&oacute; một kh&ocirc;ng gian nghỉ ngơi thư gi&atilde;n trọn vẹn, h&atilde;y
                                    c&ugrave;ng HTCom điểm qua một số lưu &yacute; nhỏ khi bố tr&iacute; Ph&ograve;ng
                                    ngủ nh&eacute;!</span></span></p>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail blog-inner">
                    <!-- Image -->
                    <a href="/tin-tuc/lang-lieu">
                        <div class="pic-tintuc"
                            style="width:100%;height: 300px;background: url('/media/article/15885792411154.jpg');background-size: cover;background-position: center center;background-repeat: no-repeat;background-color: #fff;"
                            alt="NHÀ HÀNG LANG LIÊU - MỖI CÁI NHÌN LÀ MỘT LỊCH SỬ">
                        </div>
                    </a>
                    <div class="caption">
                        <!-- Title -->
                        <div class="blog-inner-title">
                            <a href="/tin-tuc/lang-lieu">
                                <h3>NHÀ HÀNG LANG LIÊU - MỖI CÁI NHÌN LÀ MỘT LỊCH SỬ</h3>
                            </a>
                        </div>
                        <!-- Date -->
                        <div class="blog-meta">
                            <span><i class="fa fa-calendar"></i><a href="#"> 04-05-2020</a></span>
                        </div>
                        <!-- Description -->
                        <p>
                        <p><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:16px">2019,
                                    𝐋𝐚𝐧𝐠 𝐋𝐢𝐞̂𝐮 được đ&aacute;nh gi&aacute; l&agrave; dự &aacute;n m&agrave; Art
                                    Việt h&agrave;i l&ograve;ng nhất với hơn 90% c&aacute;c chi tiết trong bản thiết kế
                                    đều được thể hiện tr&ecirc;n c&ocirc;ng tr&igrave;nh thực tế, kỹ lưỡng tỉ mỉ tới
                                    từng đường n&eacute;t. B&ecirc;n cạnh đ&oacute;, 𝐃𝐮̛̣ 𝐚́𝐧 𝐋𝐚𝐧𝐠 𝐋𝐢𝐞̂𝐮
                                    đ&atilde; đ&aacute;nh dấu một m&ugrave;a h&egrave;
                                    si&ecirc;u&nbsp;&quot;n&oacute;ng&quot;&nbsp;với cường độ l&agrave;m việc cao,
                                    c&ugrave;ng tiến độ dồn dập, khi m&agrave; tổng thời gian từ l&uacute;c thai
                                    ngh&eacute;n &yacute; tưởng cho tới ng&agrave;y b&agrave;n giao chỉ vỏn vẹn 02
                                    th&aacute;ng.</span></span></p>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="200ms">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail blog-inner">
                    <!-- Image -->
                    <a href="/tin-tuc/vai-tro-cua-kien-truc-trong-chong-nong-mua-he">
                        <div class="pic-tintuc"
                            style="width:100%;height: 300px;background: url('/media/article/15635293944306.jpg');background-size: cover;background-position: center center;background-repeat: no-repeat;background-color: #fff;"
                            alt="VAI TRÒ CỦA KIẾN TRÚC TRONG CHỐNG NÓNG MÙA HÈ">
                        </div>
                    </a>
                    <div class="caption">
                        <!-- Title -->
                        <div class="blog-inner-title">
                            <a href="/tin-tuc/vai-tro-cua-kien-truc-trong-chong-nong-mua-he">
                                <h3>VAI TRÒ CỦA KIẾN TRÚC TRONG CHỐNG NÓNG MÙA HÈ</h3>
                            </a>
                        </div>
                        <!-- Date -->
                        <div class="blog-meta">
                            <span><i class="fa fa-calendar"></i><a href="#"> 19-07-2019</a></span>
                        </div>
                        <!-- Description -->
                        <p>
                        <p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span
                                style="font-size:16px"><span style="font-family:Arial,Helvetica,sans-serif"><span
                                        style="background-color:white"><span style="color:#616161">M&ugrave;a h&egrave;
                                            đang ở giai đoạn đỉnh điểm của nắng n&oacute;ng, dường như c&aacute;i
                                            n&oacute;ng đang chi phối sinh hoạt đời sống rất r&otilde;. Chống
                                            n&oacute;ng cho ng&ocirc;i nh&agrave; ở l&agrave; c&acirc;u chuyện từ xưa
                                            v&agrave; đến nay vẫn chưa bao giờ cũ.</span><span
                                            style="color:#616161"></span></span></span></span></p>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail blog-inner">
                    <!-- Image -->
                    <a href="/tin-tuc/ra-mat-showroom-thoi-trang-funda-thiet-ke-boi-HTCom">
                        <div class="pic-tintuc"
                            style="width:100%;height: 300px;background: url('/media/article/15634170129626.jpg');background-size: cover;background-position: center center;background-repeat: no-repeat;background-color: #fff;"
                            alt="RA MẮT SHOWROOM THỜI TRANG FUNDA THIẾT KẾ BỞI HTCom">
                        </div>
                    </a>
                    <div class="caption">
                        <!-- Title -->
                        <div class="blog-inner-title">
                            <a href="/tin-tuc/ra-mat-showroom-thoi-trang-funda-thiet-ke-boi-HTCom">
                                <h3>RA MẮT SHOWROOM THỜI TRANG FUNDA THIẾT KẾ BỞI HTCom</h3>
                            </a>
                        </div>
                        <!-- Date -->
                        <div class="blog-meta">
                            <span><i class="fa fa-calendar"></i><a href="#"> 18-07-2019</a></span>
                        </div>
                        <!-- Description -->
                        <p>
                        <p><span style="font-size:16px"><span style="font-family:Arial,Helvetica,sans-serif">HTCom vừa
                                    ho&agrave;n thiện những hạng mục thi c&ocirc;ng cuối c&ugrave;ng để&nbsp; cho ra mắt
                                    2 showroom của nh&atilde;n h&agrave;ng thời trang Funda tại Phạm Ngọc Thạch &ndash;
                                    Đống Đa, v&agrave; Nguyễn Văn Cừ -&nbsp;Long Bi&ecirc;n.</span></span></p>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail blog-inner">
                    <!-- Image -->
                    <a href="/tin-tuc/thiet-ke-noi-that-cho-gian-bep-toi-gian-hien-dai-49">
                        <div class="pic-tintuc"
                            style="width:100%;height: 300px;background: url('/media/article/1563414769653.jpg');background-size: cover;background-position: center center;background-repeat: no-repeat;background-color: #fff;"
                            alt="THIẾT KẾ NỘI THẤT CHO GIAN BẾP TỐI GIẢN HIỆN ĐẠI">
                        </div>
                    </a>
                    <div class="caption">
                        <!-- Title -->
                        <div class="blog-inner-title">
                            <a href="/tin-tuc/thiet-ke-noi-that-cho-gian-bep-toi-gian-hien-dai-49">
                                <h3>THIẾT KẾ NỘI THẤT CHO GIAN BẾP TỐI GIẢN HIỆN ĐẠI</h3>
                            </a>
                        </div>
                        <!-- Date -->
                        <div class="blog-meta">
                            <span><i class="fa fa-calendar"></i><a href="#"> 18-07-2019</a></span>
                        </div>
                        <!-- Description -->
                        <p>
                        <p><span style="font-size:16px"><span style="font-family:Arial,Helvetica,sans-serif">Gian bếp
                                    hiện đại, kh&ocirc;ng chỉ l&agrave; nơi c&aacute;c b&agrave; nội trợ thể hiện
                                    t&agrave;i nấu nướng, m&agrave; c&ograve;n gi&uacute;p gia chủ thể hiện gu thẩm mỹ
                                    v&agrave; phong c&aacute;ch sống tinh tế của m&igrave;nh một c&aacute;ch kh&eacute;o
                                    l&eacute;o.&nbsp;</span></span></p>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="200ms">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail blog-inner">
                    <!-- Image -->
                    <a href="/tin-tuc/xu-huong-thiet-ke-noi-that-2019-48">
                        <div class="pic-tintuc"
                            style="width:100%;height: 300px;background: url('/media/article/15632512191976.jpg');background-size: cover;background-position: center center;background-repeat: no-repeat;background-color: #fff;"
                            alt="XU HƯỚNG THIẾT KẾ NỘI THẤT 2019">
                        </div>
                    </a>
                    <div class="caption">
                        <!-- Title -->
                        <div class="blog-inner-title">
                            <a href="/tin-tuc/xu-huong-thiet-ke-noi-that-2019-48">
                                <h3>XU HƯỚNG THIẾT KẾ NỘI THẤT 2019</h3>
                            </a>
                        </div>
                        <!-- Date -->
                        <div class="blog-meta">
                            <span><i class="fa fa-calendar"></i><a href="#"> 16-07-2019</a></span>
                        </div>
                        <!-- Description -->
                        <p>
                        <p><span style="font-size:16px"><span style="font-family:Arial,Helvetica,sans-serif"><span
                                        style="color:#222222">Đặc trưng của lối thiết kế n&agrave;y l&agrave; sự
                                        y&ecirc;u cầu ho&agrave;n hảo tr&ecirc;n từng chi tiết nội thất. C&aacute;c đồ
                                        nội thất đơn sắc hoặc mang gam m&agrave;u trung t&iacute;nh kh&ocirc;ng chỉ đảm
                                        nhiệm chức năng của n&oacute; m&agrave; c&ograve;n l&agrave; vật trang
                                        tr&iacute; c&oacute; gi&aacute; trị cho tổng thể thiết kế ng&ocirc;i
                                        nh&agrave;.</span></span></span></p>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail blog-inner">
                    <!-- Image -->
                    <a href="/tin-tuc/go-mfc-an-cuong-vat-lieu-quen-mat-trong-nganh-thiet-ke-noi-that-47">
                        <div class="pic-tintuc"
                            style="width:100%;height: 300px;background: url('/media/article/1543995996723.jpg');background-size: cover;background-position: center center;background-repeat: no-repeat;background-color: #fff;"
                            alt="Gỗ MFC An Cường- Vật liệu " quen mặt" trong ngành thiết kế nội thất">
                        </div>
                    </a>
                    <div class="caption">
                        <!-- Title -->
                        <div class="blog-inner-title">
                            <a href="/tin-tuc/go-mfc-an-cuong-vat-lieu-quen-mat-trong-nganh-thiet-ke-noi-that-47">
                                <h3>Gỗ MFC An Cường- Vật liệu "quen mặt" trong ngành thiết kế nội thất</h3>
                            </a>
                        </div>
                        <!-- Date -->
                        <div class="blog-meta">
                            <span><i class="fa fa-calendar"></i><a href="#"> 05-12-2018</a></span>
                        </div>
                        <!-- Description -->
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail blog-inner">
                    <!-- Image -->
                    <a href="/tin-tuc/thiet-ke-can-ho-chi-26m2-voi-phong-cach-scandivania-46">
                        <div class="pic-tintuc"
                            style="width:100%;height: 300px;background: url('/media/article/15428568466566.jpg');background-size: cover;background-position: center center;background-repeat: no-repeat;background-color: #fff;"
                            alt="Thiết kế căn hộ chỉ 26m2 với phong cách Scandivania">
                        </div>
                    </a>
                    <div class="caption">
                        <!-- Title -->
                        <div class="blog-inner-title">
                            <a href="/tin-tuc/thiet-ke-can-ho-chi-26m2-voi-phong-cach-scandivania-46">
                                <h3>Thiết kế căn hộ chỉ 26m2 với phong cách Scandivania</h3>
                            </a>
                        </div>
                        <!-- Date -->
                        <div class="blog-meta">
                            <span><i class="fa fa-calendar"></i><a href="#"> 10-11-2018</a></span>
                        </div>
                        <!-- Description -->
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="200ms"> </div><!-- /row -->
        <ul class="pagination">

            <li class="disabled"><span>&laquo;</span></li>





            <li class="active"><span>1</span></li>
            <li><a href="http://HTCom.com.vn/tin-tuc?page=2">2</a></li>
            <li><a href="http://HTCom.com.vn/tin-tuc?page=3">3</a></li>


            <li><a href="http://HTCom.com.vn/tin-tuc?page=2" rel="next">&raquo;</a></li>
        </ul>

    </div>
</div>