<div class="pt-20 general-title bg-color">
    <h2>Dịch vụ của chúng tôi</h2>
    <div class="title-devider"></div>
</div>
<div class="container">
    <div class="text-justify" style="text-indent:30px; margin-top:50px 0;font-family:Arial,Helvetica,sans-serif">

        <p class="">
            Trong thị trường phát triển sôi động và cạnh tranh mạnh mẽ của lĩnh vực thiết kế nội thất hiện nay,
            <strong>HTcom</strong> tự hào khi đã và đang xây dựng được một thương hiệu uy tín, chuyên nghiệp đối với
            đông đảo khách hàng. Thế mạnh nổi trội mà HTcom sở hữu chính là:
        </p>


        <p>
            – Nguồn nhân lực bao gồm các kiến trúc sư, nhà <strong>thiết kế nội thất</strong> được đào tạo bài bản, giỏi
            chuyên môn, giàu khả năng sáng tạo và ứng biến linh hoạt với tinh thần làm việc nhiệt huyết, trách nhiệm và
            nghiêm túc.
        </p>


        <p>
            – Quy trình làm việc với khách hàng và làm việc nội bộ chuyên nghiệp, khoa học mang đến hiệu quả công việc
            cao cũng như những sản phẩm thiết kế nội thất tốt nhất tới các chủ đầu tư công trình.
        </p>

        <p>
            – Báo giá thiết kế với giá thành hợp lý, tiết kiệm và cạnh tranh nhất trên thị trường, đảm bảo lợi ích hợp
            tác từ cả khách hàng và công ty, phù hợp với nhiều đối tượng khách hàng từ bình dân đến cao cấp.
        </p>
        <p>
            – Cam kết bàn giao sản phẩm <strong>thiết kế nội thất</strong> chất lượng đúng tiến độ thời gian.
        </p>
        <br />
                 <p class="">
            Công ty thiết kế THcom cung cấp dịch vụ thiết kế nội ngoại thất cho: Nhà ở, căn hộ, khách sạn, nhà hàng, quán bar… Chúng tôi không ngừng cập nhật những xu hướng kiến trúc mới, thiết kế nội thất đẹp, thông minh làm hài lòng khách hàng. Với đội ngũ chuyên gia và kỹ sư thiết kế xây dựng giàu kinh nghiệm HTcom sẽ mang lại cho khách hàng giải pháp nhà đẹp, thông minh và trọn vẹn. Dịch vụ thiết kế nhà ở, nội - ngoại thất HTcom chuyên nghiệp, tận tâm sẽ là sự lựa chọn hoàn hảo cho căn nhà của bạn.
Xin chân thành cảm ơn quý khách đã sử dụng dịch vụ của HTcom. Chúng tôi luôn mong muốn được phục vụ khách hàng, hoàn thiện để có dịch vụ tốt hơn nữa.
        </p>
@*        <p>
            Kích vào để xem chi tiết :
        </p>*@
    </div>
</div>
<div class="site-wrapper">

    <!-- Services -->
    <div class="container text-center padding-bottom">
        <div class="row wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="200ms">
            <div class="col-md-1">
            </div>

            <div class="col-sm-6 col-md-2 col-xs-6">
                <a>
                    <div class="icon-a"
                         style="width:100%;height: 190px;background: url('/images/quy-trinh-thiet-ke.jpg');background-size: cover;background-position: center center;background-repeat: no-repeat;background-color: #fff;"
                         alt="Quy trình thiết kế"></div>
                </a>
                <div class="service-title">
                    <h3>Quy trình thiết kế</h3>
                </div>
            </div>

            <div class="col-sm-6 col-md-2 col-xs-6">
                <a>
                    <div class="icon-a"
                         style="width:100%;height: 190px;background: url('/images/quy-trinh-thi-cong.jpg');background-size: cover;background-position: center center;background-repeat: no-repeat;background-color: #fff;"
                         alt="Quy trình thi công"></div>
                </a>
                <div class="service-title">
                    <h3>Quy trình thi công</h3>
                </div>
            </div>

            <div class="col-sm-6 col-md-2 col-xs-6">
                <a>
                    <div class="icon-a"
                         style="width:100%;height: 190px;background: url('/images/hop-dong-mau.jpg');background-size: cover;background-position: center center;background-repeat: no-repeat;background-color: #fff;"
                         alt="Hợp đồng mẫu"></div>
                </a>
                <div class="service-title">
                    <h3>Hợp đồng mẫu</h3>
                </div>
            </div>

            <div class="col-sm-6 col-md-2 col-xs-6">
                <a>
                    <div class="icon-a"
                         style="width:100%;height: 190px;background: url('/images/bao-gia.jpg');background-size: cover;background-position: center center;background-repeat: no-repeat;background-color: #fff;"
                         alt="Báo giá"></div>
                </a>
                <div class="service-title">
                    <h3>Báo giá</h3>
                </div>
            </div>

            <div class="col-sm-6 col-md-2 col-xs-6">
                <a>
                    <div class="icon-a"
                         style="width:100%;height: 190px;background: url('/images/khach-hang.jpg');background-size: cover;background-position: center center;background-repeat: no-repeat;background-color: #fff;"
                         alt="Khách hàng"></div>
                </a>
                <div class="service-title">
                    <h3>Khách hàng</h3>
                </div>
            </div>
            <div class="col-md-1">
            </div>
        </div>
    </div>
</div>