@model eFashionShop.ViewModels.Catalog.Categories.CategoryCreateVm

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Thêm mới danh mục</h1>

<div>
    <a asp-action="Index" class="bg-light">Trở về</a>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Tên</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsShowOnHome" /> Hiển thị trên web
                </label>
            </div>
            <div class="form-group">
                <label asp-for="File" class="control-label"></label>
                <input asp-for="File" type="file" class="form-control" />
                <span asp-validation-for="File" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="ParentId" class="control-label">Danh mục cha: </label>
                <select asp-for="ParentId" name="ParentId">
                    <option value="-1"></option>
                    @if (ViewBag.ListCategoryParent != null)
                    {
                        foreach (var item in ViewBag.ListCategoryParent)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    }
                </select>
                <span asp-validation-for="ParentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input hidden value="Active" asp-for="Status" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


