@model IEnumerable<eFashionShop.ViewModels.Catalog.Categories.CategoryVm>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    int index = 1;
}

<h1>Danh mục dự án</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Tạo mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                STT
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @index
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id},new { @class = "btn btn-primary"}) 
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id}, new { onclick = "return confirm('Bạn có muốn xóa danh mục này?');", @class = "btn btn-danger"})
            </td>
        </tr>
        index++;
}
    </tbody>
</table>
